# Ignore binary

# Ignore coverage reports
coverage.out

# Ignore test output
testdata/output/a

# Ignore generated thumbnail files
output/*.png

# Ignore generated thumbnail files
output/*.png
